:root{
    --cor-branca:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botão-azul:#167BF7;
    --cor-de-fundo:#380c2b;
}

body{
    background-color: var(--cor-de-fundo);
    color: rgb(244, 105, 6)
}

*{
    margin: 0;
    padding: 0;
}

.conteudo-pricipal{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fportaldobitcoin.uol.com.br%2Fcassino-online-blaze-vira-febre-no-brasil-impulsionado-por-pagamentos-a-youtubers%2F&psig=AOvVaw2bB6Pyz8pmVfZ9X1aswZEg&ust=1716995947133000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCLDToL7SsIYDFQAAAAAdAAAAABAE);
}